 
<div class="navbar-wagon">
  <!-- Logo -->
    <%= link_to t(".top_call_to_action", default: "View restaurant list"), restaurants_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <!-- Button (call-to-action) -->
    <%= link_to t(".top_call_to_action", default: "Add a restaurant"), new_restaurant_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  
</div>
